@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Markazi Text', serif;
}

hr{
    width: 30%;
    margin:auto;
    margin-bottom: 25px;
}

#print_icon{
    position: fixed;
    z-index: 998;
    width: calc(2vw + 4vh);
    height: calc(2vw + 4vh);
    background: linear-gradient(75deg,lightseagreen, white );
    cursor: pointer; 
    border-radius: 50%;
}
.model {
    position: fixed;
    height: 100vh;
    width :100vw;
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}

iframe{ 
    z-index: 9999;
    display: block;
    height: 90vh;
    width:  90vw;
}


.active-ball{
    border-radius: 50%;
    width: calc(.75vw + .75vh);
    height: calc(.75vw + .75vh);
    background: lightseagreen;
    margin-right: 2px;
    display: inline-block;
}
.disable-ball{
    display: inline-block;
    border-radius: 50%;
    width: calc(.75vw + .75vh);
    height: calc(.75vw + .75vh);
    background: lightgrey;
    margin-right: 2px;
}

.half-active-ball{
    display: inline-block;
    border-radius: 50%;
    width: calc(.75vw + .75vh);
    height: calc(.75vw + .75vh);
    margin-right: 2px;
    background: linear-gradient(270deg,lightseagreen, lightseagreen 49%, lightgrey 51% ); 
}

.links{
    text-decoration: none;
    color: black;
    opacity: .6;
    cursor: pointer;
}
.links:visited{
    color: black;
    opacity: .6;
}

#myphoto{
    background-image: url("../images/personal_photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30%;
    position: fixed;
    height: 100vh;
    width :100vw;
    z-index: 999;
    display: none;
}

#myphoto:active{
    display: block;
}


header {
    height: auto;
    display: block;
    align-items: center;
}
img#cover_cv{
    width: 100%;
    height: calc(15vw + 15vh);
}

section#header_info{
    margin-top:calc(-5vw + -5vh);
    position: relative;
}

#photo_cv{
    background-image: url('../images/personal_photo.png');
    background-size: calc(40vw + 40vh);
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position-x: 54%;
    background-position-y: 11%;
    /*box-shadow: 6px 7px #c4e4db;*/
    border: 5px whitesmoke solid;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    -webkit-print-color-adjust: exact;
}
#photo_cv:active + #myphoto{
    display: block;
}

h1#name_cv{
    text-align: center;
    padding-top: 20px;
    font-size: calc(1.75vw + 1.75vh); 
}

h2#E-mall_cv ,h2#phone_number_cv,a{
    text-align: center;
    padding-top: 20px;
    opacity: 0.4;
    font-size: calc(1.25vw + 1.25vh); 
}

/* main */
main{
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
}
    /* main -- section */
main section{
    max-width: 50%;
}

main section h3{
    margin-top:20px;
    font-size: calc(1.75vw + 1.75vh);
}

main section article:not(:last-child){
    border-bottom: solid 1px;
    padding-bottom: 1vh;
}

main section article h4{
    margin-top: 15px;
    font-size: calc(1.25vw + 1.25vh); 
}

main section article p{
    font-size: calc(1vw + 1vh); 
}
    /* end main -- section */
    /* main -- aside*/
main aside{
    border-right: black 1px solid;
    padding-right: 10px;
}

main aside h3{
    margin-top: 20px;
    font-size:calc(1.25vw + 1.25vh);
}
main aside article h4{
    margin-top: 15px;
    font-size:calc(.80vw + .80vh);
}
main aside article p{

}
    /* end main - aside*/
/* end main */

body footer {

}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }


.artical-qr{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: calc(1.5vw + 1.5vh);
    margin-bottom: calc(1.5vw + 1.5vh);
}


.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid;
}

.card .qr-imgs {
    width: calc(10vw + 10vh);
    height: calc(10vw + 10vh);
}
.card span {
    background: #052555;
    color: white;
    font:bold;
    font-size: 1.5em;
}

.social-link{
    color: blue;
    margin: calc(1.5vw + 1.5vh);
}

.social-links{
    text-align: center;
    margin-top: calc(1.5vw + 1.5vh);
}

.social-link:visited{
    background-color: balck;
}

@media print {
    @page { size: auto;  margin: 0mm; -webkit-print-color-adjust:exact;}
    #cover_cv {
        display :none;
    }
    .social-links{
        display: none;
    }
    section#header_info{
        margin-top:calc(1vw + 1vh);
        position: relative;
    }

    #print_icon{
        display: none;
    }
    .printPageBreak { page-break-before: always; clear: both;}
}

